body {
  background-color: #232323;
}

.square {
  background: purple;
  display: grid;
  border-radius: 20px;
}

#container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-auto-rows: 250px;
  justify-content: center;
  grid-gap: 20px;
  padding-top: 10px;
}

h1 {
  color: white;
  text-align: center;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}
button {
  border: none;
  background: none;
}

.selected {
  color: white;
  background: blue;
}
