html {
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: #232323; */
  background: url("img/bg-2.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.square {
  background: purple;
  display: grid;
  border-radius: 20px;
}

#container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-auto-rows: 250px;
  justify-content: center;
  grid-gap: 20px;
  padding-top: 10px;
}

h1 {
  font-weight: 900;
  color: black;
  text-align: center;
}

#stripe {
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 100%;
}

button {
  border: none;
  background: none;
  margin-left: 10px;
  font-weight: 700;
  padding: 5px 10px;
}

.selected {
  color: white;
  background: blue;
}

#reset {
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 700;
}
